client_id = "Client ID you get from GitHub when registering an OAuth 2.0 app"
client_secret = "Client secret you get from GitHub when registering an OAuth 2.0 app"
secret_key = b"Generate a secret and paste it here, see https://flask.palletsprojects.com/en/2.1.x/config/#SECRET_KEY"
